$mainColor: #ff4800;
$mainColor2: #562fc7;
$p-Color: #999999;
$headColor: #3b13b0;

$verySmall: "(max-width: 575px)";
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1200px)";