@charset "UTF-8";
header {
  background-image: url("‪D:HCworksìobit-masterimgºnner_bg.png");
}

header .img-one {
  width: 80%;
}

.suso {
  margin: 80px 0;
}

.suso .img-features {
  width: 70px;
}

.suso h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 35px 0 25px;
}
